.main {
}
.features-section {
  display: flex;
  padding-bottom: 2.1rem;
  gap: 8rem;
}
.main--avatar__img {
  border-radius: 1.2rem;
}

.features-text {
}
.highlight {
  font-size: $font-3;
  line-height: $lh-2;
  letter-spacing: $ls-2;
  padding-bottom: 3rem;
}
.features-list {
  position: relative;
}
.list__img1 {
  position: absolute;
  top: 1rem;
  right: 31rem;
}
.list__img2 {
  position: absolute;
  right: 31rem;
  top: 7rem;
}
.list__img3 {
  position: absolute;
  right: 31rem;
  top: 11.5rem;
}
.list__img4 {
  position: absolute;
  right: 31rem;
  top: 15.8rem;
}

@media screen and (max-width: 1245px) {
  .list__img1 {
    top: 1rem;
    right: 30rem;
  }
  .list__img2 {
    top: 7rem;
    right: 30rem;
  }
  .list__img3 {
    top: 11.5rem;
    right: 30rem;
  }
  .list__img4 {
    right: 30rem;
    top: 15.8rem;
  }
}
@media screen and (max-width: 1184px) {
  .list__img1 {
    top: 1rem;
    right: 25rem;
  }
  .list__img2 {
    top: 7rem;
    right: 25rem;
  }
  .list__img3 {
    top: 11.5rem;
    right: 25rem;
  }
  .list__img4 {
    right: 25rem;
    top: 15.8rem;
  }
}
@media screen and (max-width: 1131px) {
  .features-section {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .main--avatar__img {
    width: 343px;
    height: 319px;
  }
  .list__img4 {
    right: 25rem;
    top: 17.8rem;
  }
}

@media screen and (max-width: 560px) {
}
@media screen and (max-width: 566px) {
}

.features-list li {
  padding-bottom: 1rem;
  font-size: $font-6;
  line-height: $lh-6;
  letter-spacing: $ls-6;
  color: $neutral-700;
}
.about-section {
}
.about-text {
}
.outlined {
}
.code-term {
}

.about-section {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 5rem;
  padding-bottom: 4.2rem;
  background-image: url("../images/logos-tech.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.abaut-dew {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__img {
  border-radius: 1.2rem;
}

.about-text {
  font-size: $font-3;
  line-height: $lh-2;
  letter-spacing: $ls-2;
  padding-bottom: 2rem;
}
.about__toitl {
  font-size: $font-7;
  line-height: $lh-7;
  letter-spacing: $ls-5;
  color: $neutral-700;
}
.outlined {
  background-image: url("../images/pattern-circle.png");
  background-repeat: no-repeat;
}
.code-term {
  color: $neutral-900;
}
@media screen and (max-width: 1131px) {
  .about-section {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .about__img {
    padding-top: 70rem;
    width: 343px;
    height: 319px;
  }
}

.reading-journey h2 {
  padding-top: 4.2rem;
  text-align: center;
  font-size: $font-3;
  line-height: $lh-3;
  letter-spacing: $ls-4;
}

.step {
}
.steps {
  padding-top: 4.2rem;
  padding-bottom: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.step-number {
  border: 0.125rem solid $neutral-900;
  border-radius: 0.25rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-7;
  margin-bottom: 0.625rem;
}

.step p {
  font-size: $font-7;
  line-height: 1.5;
  color: #1c1c1c;
}
.arrow {
  background-image: url("../images/pattern-arrow.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

@media screen and (max-width: 1107) {
  .reading-journey {
    display: none;
  }
}
