*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $main-ff;
  font-size: 62.5%;
}
h1 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-ff;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
